[submodule "native/godot-cpp"]
	path = native/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 3.4
[submodule "native/lib/boost"]
	path = native/lib/boost
	url = https://github.com/boostorg/boost.git
